<p id="notice"><%= notice %></p>


<div class="event-show">

<p><%= @event.title %></p>
<p><%= @event.description %></p>
<p><%= @event.address %></p>
<p><%= @event.photo %></p>
<p> <%= @teacher.name %> </p>
<p><%= @event.starting_time %> </p>
<p><%= humanized_money_with_symbol(@event.price) %></p>
  <% if  @orders.count == @event.capacity %>
    <p> FULL </p>
  <% else %>
    <p> <%= @orders.count %> / <%= @event.capacity %> </p>
  <% end %>


<% if @event.has_ordered?(current_user) %>
<p> Annuler </p>
<% else %>
    <%= form_tag orders_path do %>
        <%= hidden_field_tag 'event_id', @event.id %>
        <%= submit_tag 'Réserver', class: 'button-round' %>
    <%end%>
<% end %>




Voir qui a réservé

<% @orders.each do |order| %>
  <%= order.user.email %>
<% end %>



  <%= link_to "Participer", event_participations_path(@event), method: :post, class: 'btn'%>
<%#= link_to 'Back', events_path %>


</div>
