<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.username %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @event.photo %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'event_id', @event.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>


<% if user_signed_in? %>
  <% if current_user.id == @event.user_id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%else %>
  <%= link_to "Participer", event_participations_path(@event), method: :post, class: 'btn'%>
  <% end%>
<%end%>
<%= link_to 'Back', events_path %>

Participants :

